{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Register{% endblock %}

{% block content %}

{% load static %}

<div class="row">
    <div class="col-sm-12">
        <img alt='top design' class="center BannerImg" src='{% static "events/img/head.svg" %}'/>
    </div>
</div>

<div class="row">
    <div class="centerContainer">
        <div class="starter-template col-sm-12">
            <div>
                <div class='eventTitle col-sm-12'>{{ event.title }}</div>
                <div class='eventDate col-sm-12 '>{{ event.date_time }}</div>
            </div>
        </div>
        <form action="/events/{{ event.id }}/" id="id-registrationForm" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div>{{ form.candidate_first_name|add_label_class:"input-Labels" }}</div>
                <div>{{ form.candidate_first_name|add_class:"input" }}</div>
            </div>

            <div class="form-group">
                <div>{{ form.candidate_last_name|add_label_class:"input-Labels" }}</div>
                <div>{{ form.candidate_last_name|add_class:"input" }}</div>
            </div>

            <div class="form-group">
                <div>{{ form.candidate_email|add_label_class:"input-Labels" }}</div>
                <div>{{ form.candidate_email|add_class:"input" }}</div>
            </div>

            <div class="form-group">
                <div>{{ form.candidate_phone|add_label_class:"input-Labels" }}</div>
                <div>{{ form.candidate_phone|add_class:"input" }}</div>
            </div>

            <div class="form-group">
                <div>{{ form.candidate_job_postings|add_label_class:"input-Labels" }}</div>
                <div class="input-Multi">{{ form.candidate_job_postings }}</div>
            </div>

             <div class="form-group">
                <div class="center"><button class="disableBtn customBtn" type="submit">Submit</button></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}