{% extends "base.html" %}
{% load crispy_forms_tags %}
{% crispy registration_form.helper %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="starter-template">
  <div>
    <div class='col-md-9'><h1>{{ event.title }}</h1></div>
    <div class='col-md-3'><h1>{{ event.date_time }}</h1></div>
  </div>
</div>

<br /><br />

<div>
  <div class='col-md-12'>&nbsp;</div>
  <div class='col-md-12'>
    <form action="/events/{{ event.id }}/" id="id-registrationForm" method="post">
        {% csrf_token %}
        {% crispy form form.helper %}
    </form>
  </div>
</div>

<br /><br /><br /><br />


<div class="container">
    <div class="row-fluid">
        <div id="qrcode" class="span6 pull-right" style="width:100px; height:100px; margin-top:15px;"></div>
    </div>
</div>

<script type="text/javascript">
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        width : 100,
        height : 100
    });

    function makeCode () {
        qrcode.makeCode(window.location.href);
    }

    makeCode();
</script>
{% endblock %}