{% extends "base.html" %}
{% load crispy_forms_tags %}
{% crispy sendemail_form sendemail_form.helper %}

{% load static %}
{% block content %}

<div class='col-sm-12 row'>
    <img alt='top design' class="center congratsImg" src='{% static "events/img/congrats.svg" %}'/>
</div>

<div class="row">
    <div class='congratLbl col-sm-12'>
        Congratulations <br />
        <img alt='top design' class="center" src='{% static "events/img/congratqmark.svg" %}'/>
    </div>
    <div class='congratMsg col-sm-12'>
        You successfully submitted your contact info to Excella  on <br />{{ event.date_time }}
    </div>
    <div class='col-sm-12'>

        <form action="/events/{{ event.id }}/" name="id-successForm" id="id-successForm" method="get">
            {% csrf_token %}
            <div class="center">
                <button type="submit" name="submit" class="customBtn activeBtn" id="submit-id-submit">
                    Start another submission
                </button>
            </div>
        </form>
</div>
<script>
    setTimeout(function () {
            window.location.href = "/events/{{ event.id }}/"
        }, 5000); //reset page after 5 secs.
</script>

{% endblock %}