{% extends "sendemailbase.html" %}
{% load crispy_forms_tags %}
{% crispy sendemail_form sendemail_form.helper %}

{% block content %}
<div class="starter-template">
  <div>
    <div class='col-md-9'><h1>{{ event.title }}</h1></div>
    <div class='col-md-3'><h1>{{ event.date_time }}</h1></div>
  </div>
</div>

<br /><br />

<div>
    <div class='col-md-12 alert-warning'> <h1><p >Under construction! Emails won't actually send</p></h1> </div>
    <div class='col-md-12'>
        <form action="/sendemail/{{ event.id }}/" id="id-registrationForm" method="post">
            {% csrf_token %}
            {% crispy form form.helper %}
        </form>
    </div>

    <div class="starter-template">
      <div>
        <div class='col-md-9'><h1>Email Recipients</h1></div>
      </div>
    </div>

    <div class='col-md-12'>
      <div class='col-lg-12 row'>
        <div class='col-lg-8'><h3>Candidate</h3></div>
        <div class='col-lg-4'><h3>Choosen Job Posting</h3></div>
          {% for attendance in attendance_list %}
              <div class='col-lg-3'>{{ attendance.candidate.first_name }} &nbsp; {{ attendance.candidate.last_name }}</div>
              <div class='col-lg-3'>{{ attendance.candidate.email }}</div>
              <div class='col-lg-2'>{{ attendance.candidate.phone }}</div>
              <div class='col-lg-4'>{{ attendance.selected_job_posting }}</div>
          {% endfor %}
      </div>
    </div>
</div>
        
{% endblock %}