body {
  font-family: 'Muli', sans-serif !important;
  font-size: 12px;
}

.starter-template {
  text-align: center;
  position: relative;
}

.errorlist {
  color: red;
}

.row.error {
    border: 1px solid #D13C45;
    background: #E14C55 !important;
    color: #FADFEF;
}

.greybg {
    background-color: #EEEEEE;
}

.add-item {
  position: relative;
  background-color: #3366BB;
  height: 4em;
  width: 4em;
  border-radius: 2em;
  top: -2em;
  left: 90%;
  left: calc(100% - 4em);
  cursor: pointer;
  box-shadow: 0px 0px  6px rgba(0,0,0,0.12);
  z-index: 100;
}

.add-item::before {
  position: absolute;
  content: "+";
  width: 100%;
  vertical-align: middle;
  color: white;
  line-height: 2em;
  justify-content: center;
  display: flex;
  line-height: 1.8em;
  font-size: 3rem;
  font-weight: bold;
}

.modal-full-screen>.modal-dialog {
  width: 100vw;
  height:100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  display: inline-block;
  margin: 0;
}

.modal-full-screen>.modal-dialog>.modal-content {
  height: 100%;
}

.starter-template .btn-primary {
  color: white !important;
  background-color: #3366BB !important;
  background-image: none !important;
  border-color: #3366BB !important;
}

.starter-template .btn-primary:hover {
  background-color: #6699FF !important;
  border-color: #6699FF !important;
}

.starter-template .btn-secondary {
  color: white !important;
  background-color: #77AAFF !important;
  background-image: none !important;
  border-color: #77AAFF !important;
}

.starter-template .btn-secondary:hover {
  color: #444444 !important;
  background-color: #99CCFF !important;
  background-image: none !important;
  border-color: #99CCFF !important;
}

.starter-template .btn-primary[disabled], .starter-template .btn-danger[disabled] {
  color: #444444 !important;
  background-color: #DBE3EA !important;
  border-color: #DBE3EA !important;
}

.starter-template .list-item.row {
  border-radius: .3em;
  line-height: 2.4em;
  background-color: white;
  padding: .2em;
  margin-bottom: .4em;
}

.list-item.row.disabled {
  color: #444444;
  background-color: #AAAAAA;
}

.starter-template .multiselect-container a {
  text-decoration: none !important
}

.banner {
  background: #D13C45;
  color: #ffffff;
  width: 100%;
  max-width: 100vw;
  top: 0px;
  left: 0px;
}

.banner-sm {
  height: 4em;
  min-height: 60px;
  max-height: 80px;
}

.banner-lg {
  height: 16rem;
  min-height: 120px;
  max-height: 160px;
}

.banner a {
  color: #ffffff !important;
  text-decoration: none;
}

.banner .navbar,  .banner .navbar .navbar-nav{
  position: absolute;
  right: 0;
  padding-right: .4em;
  top: 0;
}

.banner .navbar {
  width: 100vw;
}

.BannerImg {
  margin: -4% auto auto auto;
  max-width: 100%;
  max-height: 400px;
  pointer-events: none;
}

.page-title {
  margin-top: 4rem;
  font-size: 2.6em;
}

.page-title .excella-logo-2 {
  height: .9em;
}

.page-title .title {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2em;
}

.congratsImg {
    position: initial;
    width: 101vw;
}

.homeIcon {
    padding: 1em 0;
}

.homeIcon a {
  display: inline-block;
}

.eventTitle {
    font-size: 2.4em;
    color: #212121;
    letter-spacing: 0;
    text-align: center;
    line-height: 48px;
}

.eventDate {
    font-size: 1em;
    color: #2E2C38;
    letter-spacing: -0.19px;
}

.input {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    height: 6vh;
    min-height: 2em;
    width: 100%;
    padding-left: 20px;
    font-size: 1.4em;
    color: #333333;
    letter-spacing: 0;
}

.input-Multi > ul {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    list-style-type:none;
    padding-left: .5vw;
    padding-right: .5vw;
}

.input-Multi li {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.input-Multi label {
    font-size: 1.4em !important;
    font-weight: 500;
    color: #2E2C38;
    letter-spacing: 0;
}

.input-Multi .dropdown-menu>li>a {
    padding: 0 1.2em !important;
    line-height: 3em;
}

.input-Labels {
    border-radius: 4px;
    font-size: 1.4em !important;
    font-weight: 500;
    color: #2E2C38;
    letter-spacing: -0.2px;
    margin-bottom: 0px !important;
}

.input-checkbox {
  width: 1.4em;
  height: 1.4em;
  vertical-align: middle;
  margin: -.5em 0 0 .5em !important;
}

label[disabled], input[disabled] {
  cursor: not-allowed !important;
  color: #999999;
}

.centerContainer {
  position: relative;
  margin: auto;
  width: 58%;
  min-width: 45em;
  padding: 10px;
  height: auto;
}

.centerContainer form {
  padding-bottom: 2em;
}

.row {
    position: inherit;
}

.activeBtn {
    background: #3366BB !important;
    border-radius: 4px;
    font-size: 1.4em;
    color: #FFFFFF !important;
    letter-spacing: -0.15px;
    text-align: center;
    line-height: 38px;
}

.disableBtn {
    background: #CBD3DA !important;
    border-radius: 4px;
    font-size: 1.4em;
    color: #FFFFFF;
    letter-spacing: -0.15px;
    text-align: center;
    line-height: 38px;
}

.customBtn {
    width: 33vw;
    height: 8vh;
}

.center {
    text-align: center;
}

.nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: none !important;
    background-color: inherit !important;
}

.nav > li {
  display: inline-block !important;
}

.congratLbl {
    font-size: 5em;
    color: #494949;
    text-align: center;
    font-weight: 500;
    top: -13vh;
}

.congratMsg {
    text-align: center;
    position: relative;
    top: -10vh;
    font-size: 2em;
    color: #494949;
}

.indexHead {
    text-align: center;
    position: relative;
    top: 5vh;
    font-size: 2.4em;
    color: #494949;
}

.form-group.required>div:first-of-type::before, label.requiredField::before {
    color: #D13C45;
    content: '* ';
    font-size: 1.4em;
    vertical-align: middle;
  }

.asteriskField {
  display: none;
}

.tight-top {
  margin-top: .2em;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.modal-header button.close {
  width: 2em;
  height: 2em;
  font-size: 4em;
  font-weight: normal;
  top: 0;
  margin: 0;
  padding: 0;
  right: -.8em;
  top: -.6em;
  position: absolute;
}

.modal-header button.close::after {
    content: "cancel";
    position: relative;
    right: 2.6em;
    top: .6em;
    font-size: 1.6rem;
}

.modal-header {
  min-height: 4.5em;
}

.dropdown-menu > li > a {
    padding: 0 1.2em !important;
    height: 2.8em;
}

.button-group {
  margin-top: 2.5em;
}

.button-group .btn.btn-lg {
  min-width: 15em;
  min-height: 3em;
}

@media only screen and (orientation: landscape) and (max-height: 800px),
only screen and (max-width: 800px)
 {
    .ui-datepicker {
      font-size: 1.4em !important;
    }
}
