{% load static %}
<div class="banner banner-lg">
  <nav>
    <div class="container">
      <div class="page-title col-md-8"><img alt="Excella Logo" class="excella-logo-2" src='{% static "excellajobs/img/logo_2.svg" %}'/> | <div class="title">{{ title }}</div></div>
      <div class="col-md-4 navbar">
      <ul class="navbar-nav nav">
        {% if user.is_authenticated %}
          <li><a href="/admin/">Site administration</a></li>
          {% if request.get_full_path != "/events/" %}
            <li><a href="/events/">My events</a></li>
          {% endif %}
          {% if request.get_full_path != "/sendemail/" %}
            <li><a href="/sendemail/">Send Email</a></li>
          {% endif %}
          <li><a href="/admin/logout/?next={{request.path}}">Log-out</a></li>
        {% else %}
        <li><a href="/admin/login/?next=/events/">Log-in</a></li>
        {% endif %}
      </ul>
      </div>
    </div>
  </nav>
</div>
