{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom local static styles for this template -->
    <link href="{% static "events/css/starter-template.css" %}" rel="stylesheet">
    <link href="{% static "events/css/bootstrap-multiselect.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- CDN's for Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='{% static "events/js/bootstrap-multiselect.js" %}'></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $('#candidate_job_posting').multiselect();

        });
    </script>
    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
    {% block header %}{% include "banner/banner.html" %}{% endblock %}

    <div class="container">
      {% block content %} {% endblock %}
    </div>

  </body>
</html>
